{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="fa fa-envelope fa-2x"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="fa fa-facebook-official fa-2x"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><i class="fa fa-flickr fa-2x"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="fa fa-github fa-2x"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss fa-2x"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><i class="fa fa-google-plus-official fa-2x"></i></a>{% endif %}
{% if site.footer-links.tumblr %}<a href="https://{{ site.footer-links.tumblr }}.tumblr.com/"><i class="fa fa-tumblr fa-2x"></i></a>{% endif %}
{% if site.footer-links.cc %}<a href="https://creativecommons.org/licenses/{{ site.footer-links.cc }}"><i class="fa fa-creative-commons fa-2x"></i></a>{% endif %}
