<head>
  
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}{% if page.title %}{% else %} | {{ site.bio }}{% endif %}</title>

  {% include meta.html %}

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="shortcut icon" href="{{ site.url }}{{ site.favicon }}">

  <script type="application/ld+json">
  {% include metadata.json %}
  </script>

  <style amp-custom>
  {% capture include_to_scssify %}
    {% include style.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async src="https://cdn.ampproject.org/v0.js"></script>

</head>
