<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}">{% include facebook-official.svg %}</a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}">{% include github.svg %}</a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">{% include twitter.svg %}</a>{% endif %}
{% if site.footer-links.cc %}<a href="https://creativecommons.org/licenses/{{ site.footer-links.cc }}">{% include creative-commons.svg %}</a>{% endif %}
</svg>
