<!DOCTYPE html>
<html amp lang="ja">
  {% include head.html %}
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><amp-img src="{{ site.logo }}" layout="responsive" width="70" height="70" alt="{{ site.name }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.bio }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/gallery"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
            <a href="{{ site.baseurl }}/about"><i class="fa fa-users" aria-hidden="true"></i></a>
            <a href="{{ site.baseurl }}/teikan"><i class="fa fa-file-text" aria-hidden="true"></i></a>
            <a href="{{ site.baseurl }}/donate"><i class="fa fa-heart" aria-hidden="true"></i></a>
            <a href="{{ site.baseurl }}/member"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
            <a href="{{ site.baseurl }}/faq"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include fa-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
